@import "tailwindcss";

body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

::-webkit-scrollbar {
  width: 0px !important;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}
